/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {

	
.logo {
	display: none;
}

.search, .search input {
	width: 90%;
}

.links {
	display: none;
}

.container {
	padding: 10px;
}
}
